* {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: "Raleway", sans-serif;
}

a {
  text-decoration: none;
  color: #ffffff;
}

ul li {
  list-style: none;
}

.top-container {
  position: fixed;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.3);
  color: #ffffff;
  z-index: 999;
}

.top-container ul {
  padding: 15px 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top-contato {
  display: flex;
  gap: 30px;
}

.contato-item {
  display: flex;
  gap: 10px;
}

.corpo {
  display: grid;
  gap: 20px;
  place-items: center;
  background: #174168 url(/assets/img/bkgd.webp) no-repeat;
  background-blend-mode: multiply;
}

.logo {
  display: flex;
  margin-top: 100px;
}

#logo {
  padding: 0 0 20px 0;
}

.corpo h1,
.corpo p {
  color: #ffffff;
}

.warning {
  padding: 25px 0;
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  text-align: center;
}

.corpo h1 {
  font-weight: 400;
  font-size: 2rem;
  font-family: "Poppins", sans-serif;
}

.corpo p {
  padding: 30px;
  font-size: 1.3rem;
}

.areas-itens {
  display: grid;
  padding: 20px 50px;
  gap: 10px;
  grid-template-columns: repeat(4, 1fr);
}

.areas p {
  text-align: center;
}

.area a {
  position: relative;
  display: grid;
  gap: 10px;
  align-items: center;
  justify-items: center;
  padding: 80px;
  background: rgba(23, 65, 104, 0.3);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(12.5px);
  -webkit-backdrop-filter: blur(12.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.texto-alt {
  display: flex;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  opacity: 0;
  z-index: 200;
}

.texto-alt p {
  text-align: left;
  font-size: 0.9rem;
  margin: 0 15px;
}

.area a:hover {
  background-color: #001329;
  transition: 0.3s all ease-out;
  opacity: 100%;
}

.area a::after {
  position: absolute;
  top: 0;
  content: "";
  height: 0;
  background-color: #001329;
  border-radius: 10px;
  opacity: 0;
  z-index: 99;
}

.area a:hover::after {
  width: 100%;
  height: 100%;
  opacity: 100%;
  transition: all 0.3s;
}

.texto-alt:hover {
  opacity: 100%;
  transition: 0.8s ease-out;
}

.area p {
  padding: 5px;
}

#copyright {
  display: grid;
  align-items: center;
  justify-items: center;
  color: #ffffff;
  font-size: 0.9rem;
  background-color: #174168;
}

@media screen and (max-width: 1206px) {
  .areas-itens {
    grid-template-columns: repeat(2, 1fr);
  }
  .top-container {
    display: grid;
  }

  .top-container ul {
    place-self: center;
    display: grid;
    justify-items: center;
    padding: 10px 50px;
  }
}
@media screen and (max-width: 800px) {
  .areas-itens {
    grid-template-columns: 1fr;
  }

  .top-contato {
    display: grid;
    gap: 10px;
    justify-items: center;
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 454px) {
  .logo svg {
    width: 300px;
  }
  .warning h1 {
    font-size: 1.5rem;
    font-weight: 100;
    max-width: 100vw;
  }

  .slogan {
    max-width: 100vw;
  }

  .warning {
    max-width: 100vw;
  }

  .areas {
    max-width: 100vw;
  }

  .areas-itens {
    padding: 10px;
  }
}
